<center>exploring the correlation between air quality and the tree populations in New York City.</center>
<center> advanced CS topics at trinity school NYC. fall 2021.</center>
<center><a href="https://docs.google.com/spreadsheets/d/1F5_b6HC-tVvfZsiF19bv4lR3zvpfiSovdgD0OAcx4n8/edit?usp=sharing">link to data</a></center>
