<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Tree Populations vs. Air Quality, Neighborhood by Neighborhood</title>
  <meta name="author" content="You">
  <meta name="description" content="A compendium of Harry Potter characters">
  <!--<meta content="text/html" http-equiv="Content-type" /> -->
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
  <h1>about page</h1>
  <h2>lake + nathalie</h2>

  <br>
  <h2>Vocab:</h2>
  <p>ppb = part per billion, the unit of measure for contaminants per 1000 million units of total mass</p>
  <p>Ground-level Ozone = O3, harmful air pollutant</p>
  <p>Nitrogen Dioxide = harmful air pollutant</p>
  <p>Sulfur Dioxide = harmful air pollutant</p>
  <p>Tree density = amount of trees per a certain area</p>

  <br>
  <h2>lo-fi sketch 1</h2>
  <img src="image1.jpg" alt="img1" style="width:500px;height:400px;">
  <img src="image2.jpg" alt="img2" style="width:500px;height:400px;">

  <ul>
    <li>Understandability: Simplistic infographic and layout, users should be able to understand the data based on the key. But, the keys are not specifically quantitative.</li>
    <li>Achievability: Big infographic is achievable - mapping density and air pollutants. But, mapping trees on literal streets might be difficult to achieve (in micro summary) </li>
    <li>Usability: Easy to use - but raw data is less accessible </li>
    <li>We have to be aware of our key and make sure that there is no saturation change and only hue change, especially for accessibility for those who are color blind.</li>
    <li>Tree density is intuitive, more dots the more trees for tree density. </li>
  </ul>

  <h2>lo-fi sketch 2</h2>
  <img src="image3.png" alt="img1" style="width:400px;height:500px;transform:rotate(270deg);">
  <img src="image4.png" alt="img2" style="width:500px;height:400px;">

  <ul>
    <li>Understandability: Affordance to hover over to see zipcode, neighborhood, and borough — helps the user understand what part of the city they are looking at without it being cluttered.</li>
    <li>Achievability: Might be easier to split the boroughs / macro summaries into neighborhoods rather than zip codes (we can map the zip codes to neighborhoods)</li>
    <li>Usability: Intuitive - can click the area of a neighborhood and the website directs you to the stats of the specific neighborhood</li>
    <li>Perceptibility: Neighborhood/Zip code is isolated without geographical context - might be disorienting to users not familiar with the area. Might want to give more context by showing the surrounding area (ex: greyed out)</li>
    <li>Mappings: Different colors rather than hue/darkness for tree density - there are no logical orderings for color (people can’t differentiate if blue is more dense than green)</li>
  </ul>
  <center>
  <p> Our final product will draw from the organization of sketch one and the afforfances of sketch two to create a user-friendly experience.</p>
  <h2>division of labor</h2>
  <p>We are going to collaborate a lot on this process of creating our Data Journalism html page and infographic - and splitting up the work equitably when needed</p>
  <p>We plan on implementing the html pages together, but Lake will focus on the creation of the macro summary, creating an infographic that summaries the data without specific data points while Nathalie will focus on the micro summary and the specific/explicit data representation for each neighborhood, mapping the zipcodes.</p></center>

  <%- include ('global/header');  %>
  <%- include ('global/navbar');  %>
  <%- include ('global/footer');  %>

</body>

</html>
