<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Tree Populations vs. Air Quality, Neighborhood by Neighborhood</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v6.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.5/turf.min.js"></script>



  <!-- Create an element where the map will take place -->
</head>

<body>

  <%- include ('global/header');  %>
  <%- include ('global/navbar');  %>
  <h1> Tree Population and Air Quality, by Community Districts </h1>
  <svg id="my_dataviz" width="400" height="300" align="center"></svg>
  <script type = "text/javascript" src="map.js"></script>
  <script>
//  let communityDistricts = geojson.feature(nyc, nyc.objects.BoroCD); //issue -- counties = topojson.feature(us, us.objects.counties)
//  let cityMap = new Map(geojson.feature(nyc, nyc.objects.BoroCD).features.map(d => [d.id, d]));
//var bbox = turf.bbox(features);

// The svg
const svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

d3.json("geojson.json").then( function(data) {

  var features = data.features;

  var projection = d3.geoMercator();
      var path = d3.geoPath().projection(projection);

  var fixed = features.map(function(f) {
    return turf.rewind(f,{reverse:true});
  })

  console.log(fixed);

  projection.fitSize([width,height],{"type": "FeatureCollection","features":fixed})

    // Draw the map
    svg.append("g")
        .selectAll("path")
        .data(data.features)
        .join("path")
            .attr("fill", "#69b3a2")
            .attr("d", d3.geoPath()
            .projection(projection)
            )
            .style("stroke", "#fff")

})



  </script>

  <%- include ('global/footer');  %>

</body>

</html>
