<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Harry Potter Characters</title>
  <meta name="author" content="You">
  <meta name="description" content="A compendium of Harry Potter characters">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body>
  <header>
    <h1>Harry Potter Characters</h1>
  </header>
  <section id="charcter-table">
    <table>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>House</th>
        <th>Species</th>
        <th>Skill</th>
      </tr>
      <tr>
        <td><%= data[1].CDID %></td>

      </tr>
    </table>
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
