<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Tree Populations vs. Air Quality, Neighborhood by Neighborhood</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
  <style>
    body {
      font-family: Georgia, serif;
    }
    h4 {
  margin: 0px 100px 0px 100px;
  }
  .myDiv {
  display: table;
  margin: 0 auto;
  text-align: left;
  font-size: 22px;
  margin: 0px 150px 0px 150px;
}
h5 {
margin: 0px 100px 0px 100px;
}
  </style>
</head>

<body style="background-color:#ADD8E6;">

  <center><%- include ('global/header');  %></center>
  <%- include ('global/navbar');  %>
  <center><h1> TreeClean: Lake Gifford and Nathalie Perra </h1></center>
  <br>
  <center><h4>This dynamically created project aims to study the possible correlation between air
    quality and tree populations in New York City. Each of the 59 community districts in NYC has been analyzed and compared to city
    averages. We learned a lot about our city while creating this project, and we hope you can take something away from our research!</center></h4>
<br>
<center><h5>The radius of these circles corresponds to each borough's tree population, while the gradient of each sphere is representative of the parts per billion of nitrogen dioxide in each borough's atmosphere.</h5></center>
<br>
  <center><div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div></center>
  <script type = "text/javascript" src="map.js"></script>
  <script>
d3.csv('https://raw.githubusercontent.com/nathalieperra22/choroplethcsv/main/coordnycboroughs.csv', function(err, rows){

  function unpack(rows, key) {
    return rows.map(function(row) { return row[key]; });
  }

  var borough = unpack(rows, 'Borough'),
      treePop = unpack(rows, 'TreePop'),
      lat = unpack(rows, 'Lat'),
      lon = unpack(rows, 'Lon'),
      airQuality = unpack(rows, 'AirQuality'),
      boroughSize = []

  for ( var i = 0 ; i < treePop.length; i++) {
    var currentSize = treePop[i] / 1255;
    boroughSize.push(currentSize);
  }

  var layout = {
      mapbox: {
        center: {lon: -73.9, lat: 40.73},
        style: "carto-positron",
        zoom: 9,
      },
      coloraxis: {colorscale: "Greens"},
      width: 1000,
      height: 500,
      margin: {t: 30, b: 0},
  };

  console.log("lat", lat)
  console.log('lon', lon)
  console.log('size', boroughSize)

  var data = [{
    type: "scattermapbox", //"densitymapbox", scattermapbox
    lon: lon,
    lat: lat,
    marker: { size: boroughSize,
              color: airQuality,
              colorbar: {
               thickness: 10,
               titleside: 'right',
               outlinecolor: 'rgba(68,68,68,0)',
               ticklen: 4,
               shoticksuffix: 'last',
               ticksuffix: 'ppb',
               dtick: 4
              }
            }
  }]

  console.log('data', data)
  console.log('layout', layout)


  Plotly.newPlot("myDiv", data, layout);
});


  </script>
  <br>
  <center><h3>The average concentration of nitrogen dioxide in NYC is 19.6 parts per million.</center></h3>
  <center><h3>There are 935,115 trees in New York City!</h3></center>

<br>
  <div class="myDiv">
  <center>
    <LH>Takeaways:</LH>
    <li>While many community districts are similar sizes, the number of trees varies widely!</li>
    <li>Air quality also fluctuates signifigantly from district to district.</li>
    <li>There is definitely a loose correlation between nitrogen dioxide presense and tree population.</li>
    <li>However, there are plenty of other factors that affect air quality! What is presented here is
    only a part of a much greater picture.</li>
<br><br>

  </center></ul>
  </div>


  <%- include ('global/footer');  %>

</body>

</html>
